
[submodule "Dependencies/SyriusShadingLanguage"]
	path = Dependencies/SyriusShadingLanguage
	url = https://github.com/SyriusEngine/SyriusShadingLanguage
[submodule "Dependencies/SyriusCore"]
	path = Dependencies/SyriusCore
	url = https://github.com/SyriusEngine/SyriusCore
